/* Unnecessary styles */
body{
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: #222;
    color: white;
    margin: 0 0 2em 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    margin: 2em 0 1em 0;
}
xmp { white-space:pre-wrap;word-wrap:break-word;
    background-color: antiquewhite;
    box-sizing: border-box;
    padding-left: 16px;
    color: #333;
    width: 100%;
}
/* Uniform img aspect ratio */
.uniform_gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1000px;
    gap: 15px;
}

.uniform_gallery img{
   max-width: 100%;
}

@media only screen and (max-width: 900px) {
    .uniform_gallery{grid-template-columns: 1fr 1fr;}
}

@media only screen and (max-width: 600px) {
    .uniform_gallery{grid-template-columns: 1fr;}
}